<form action="/form/add" method="POST">
  <label for="name">Song Name:</label>
  <input id="name" type="text" name="song_name">
  <label for="quote">Artist:</label>
  <input id="quote"type="text" name="artist_name">
  <label for="quote">Genre:</label>
  <input id="quote"type="text" name="genre_name">
  <input type="submit" value="Submit">
</form>


<a href="<%="/"%>">Home</a>