<h1>Artists Library</h1>

<h3><a href="<%="/songs/add"%>">Add a Song</a></h3>


<ol>
  <% @artists.each do |artist| %>
    <li><a href="<%= "/artists/#{artist.name.split.last.downcase}" %>"><%= artist.name %></a> - Songs: <%= artist.songs_count %></li>
  <% end %>
</ol>
